@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

#landing {
  min-height: 965px;
  background-color: #363a33;
  position: relative;
  /* background: url("/img/Submit.jpg"); */
  min-height: 700px;
  /* text-shadow: 2px 2px 5px #000; */
  font-family: 'Mansalva';
  font-size: 150%;
 }
